* {
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/*
Content for the header banner at top of the page
*/

header {
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 3vh;
}

.headerText {
    display: inline;
    font-size: 7vh;
    vertical-align: middle;
}

.headerImg {
    display: inline;
    margin-right: 2vh;
    vertical-align: middle;
}

.headerTextMe {
    color: darkorange;
}

.addABook {
  font-size: 2vh;
  border: solid 2px white;
  margin-left: 1vh;
  margin-bottom: 1vh;
  background-color: black;
}

.addABook span {
  color: white;
}

.addABook:hover {
  cursor: pointer;
}

/*
Content for form to add books to bookmarks
*/

button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:hover:disabled {
    cursor: default;
  }
  
  .js-shopping-list-entry {
      color: black;
  }

  .js-book-url {
      color: black
  }

  .js-book-desc {
    color: black
}

.js-book-rating {
    color: black
}

.seachBar {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/*
Main design where all bookmarks are listed
*/

.library {
  list-style-type: none;
  padding-left: 1vh;
  padding-right: 1vh; 
  width: 100%;
}

.book{
  border: solid 2px white;
  margin-bottom: 1vh;
  padding: 1vh;
}

.itemRating {
  margin-top: 1vh;
  font-size: 1.8vh;
}

.hide {
  display: none;
}

.itemDescription {
  display: block;
  margin-top: 1vh;
  overflow-wrap: break-word;
  width: 65%;
}

.itemUrl {
  display: block;
  margin-top: 1vh;
  overflow-wrap: break-word;
  width: 65%;
}
.itemUrl:hover{
  cursor: pointer;
  color: orange;
}

.book-title {
  text-decoration: underline;
  font-size: 2.5vh;
}

.book-item-view {
  display: block;
  margin-top: -3.3vh;
  margin-right: 0.5vh;
  float: right;
  background-color: black;
}

.book-item-delete {
  display: block;
  margin-top: -3.3vh;
  float: right;
  margin-right: -0.7vh;
  background-color: black;
}

/*
This is the form for adding a new book
*/

form {
  margin-left: 1vh;
  margin-right: 1vh;
  padding: 1vh 1vh;
  text-align: center;
  border: solid 2px white;
  margin-bottom: 1vh;
}

.row1 {
  display: flex;
  margin-bottom: 1vh;
  justify-content: center;
  vertical-align: middle;
}

.bookTitleEntry {
  margin-left: -12.4vh;
  margin-right: 1vh;
  margin-top: 0.5vh;
}

.js-book-title-entry {
  width: 16.8vh;
  color: black;
}

.bookRatingEntry {
  margin-top: 0.5vh;
  margin-right: 1vh;
  margin-left: 1vh;
}

.js-book-rating {
  width: 4vh;
}

.row2 {
  display: flex;
  justify-content: center;
}

.bookDescEntry {
  margin-left: -14.8vh;
  margin-top: 0.5vh;
  margin-right: 1vh;
}

.js-book-desc {
  width: 55.3%;
  max-height: 10vh;
}

.row3 {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
}

.bookUrlEntry {
  margin-top: 0.5vh;
  margin-right: 1vh;
}

.js-book-url {
  width: 55%;
}

.submitBtn {
  background-color: black;
  margin-left: 1vh;
}

.filterBtn {
  background-color: black;
  text-align: center;
  font-size: 2vh;
  border: 2px solid white;
  height: 4vh;
}

.filterBtn:hover {
 cursor: pointer;
}