* {
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/*
Content for the header banner at top of the page
*/

header {
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 3vh;
}

.headerText {
    display: inline;
    font-size: 7vh;
    vertical-align: middle;
}

.headerImg {
    display: inline;
    margin-right: 2vh;
    vertical-align: middle;
}

.headerTextMe {
    color: darkorange;
}

.addABook {
  font-size: 2vh;
  border: solid 2px white;
  margin-left: 1vh;
  margin-bottom: 1vh;
  background-color: black;
}

.addABook span {
  color: white;
}

.addABook:hover {
  cursor: pointer;
}

/*
Content for form to add books to bookmarks
*/

button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:hover:disabled {
    cursor: default;
  }
  
  .js-shopping-list-entry {
      color: black;
  }

  .js-book-url {
      color: black
  }

  .js-book-desc {
    color: black
}

.js-book-rating {
    color: black
}

.seachBar {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/*
Main design where all bookmarks are listed
*/

.library {
  list-style-type: none;
  padding-left: 1vh;
  padding-right: 1vh; 
  width: 100%;
  position: absolute;
}

.book{
  border: solid 1.5px white;
  margin-bottom: 1vh;
  padding: 1vh;
}

.itemRating {
  margin-top: 1vh;
  font-size: 2.5vh;
}

.hide {
  display: none;
}

.itemDescription {
  font-size: 2.2vh;
  display: block;
  margin-top: 1vh;
  overflow-wrap: break-word;
  width: 85%;
}

.itemUrl {
  font-size: 2.2vh;
  display: block;
  margin-top: 1vh;
  overflow-wrap: break-word;
  width: 64%;
}
.itemUrl:hover{
  cursor: pointer;
  color: darkorange;
}

.book-title {
  text-decoration: underline;
  font-size: 3.2vh;
}

.book-item-view {
  border: groove 0.3vh white;
  background-color: black;
  width: 9vh;
  margin-right: 0.5vh;
  font-size: 2vh;
}

.book-item-delete {
  border: groove 0.3vh white;
  background-color: black;
  width: 9vh;
  font-size: 2vh;
}

.buttons {
  position: relative;
  right: -0.5vh;
  bottom: -0.5vh;
  display: flex;
  flex-direction: row-reverse;
}

.bookmarkIcon {
  display: block;
  position: relative;
  width: 7vh;
  margin-top: -1.2vh;
  margin-left: 80%;

}


/*
This is the form for adding a new book
*/

form {
  margin-left: 1vh;
  margin-right: 1vh;
  padding: 1vh 1vh;
  text-align: center;
  border: solid 2px white;
  margin-bottom: 1vh;
}

.row1 {
  display: flex;
  margin-bottom: 1vh;
  justify-content: left;
  vertical-align: middle;
}

.bookTitleEntry {
  display: block;
  width: 30%;
  margin-top: 1vh;
}

.js-book-title-entry {
  width: 25%;
  color: black;
}

.bookRatingEntry {
  display: block;
  width: 20%;
  margin-top: 1vh;
}

.js-book-rating {
  width: 5vh;;
}

.row2 {
  display: flex;
  justify-content: left;
}

.bookDescEntry {
  display: block;
  width: 30%;
  margin-top: 1vh;
}

.js-book-desc {
  width: 40%;
  max-height: 10vh;
}

.row3 {
  margin-top: 1vh;
  display: flex;
  justify-content: left;
}

.bookUrlEntry {
  display: block;
  width: 30%;
  margin-top: 1vh;
}

.js-book-url {
  width: 40%;
}

.submitBtn {
  background-color: black;
  margin-left: 1vh;
}

.filterBtn {
  background-color: #ff8c00;
  font-size: 2vh;
  color: black;
  border: 0.3vh solid white;
  border-radius: none;
}

.filterBtn:hover {
 cursor: pointer;
}

/*
Media Queries Will All Be Here
*/

@media only screen and (min-width: 768px) {
  .js-book-rating {
    width: 5vh;
    margin-left: -2.8%;
  }
}